@model FitnessApp.Models.Egitmen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Egitmen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzmanlikAlani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzmanlikAlani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonHizmeti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonHizmeti.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalismaSaatleri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalismaSaatleri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimYolu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
